body {
	background-color: black;
	padding: 0;
	margin: 0;
}

img {
	position:fixed;
	height: 90%;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-right: auto;
	margin-top: auto;
	opacity: 0.9;
	transition: 500ms all ease-in;
}

.fadeout {
	opacity: 0.0;
}

.fadein {
	opacity: 0.9;
}